---
---
<div class="calc">
  <input id="w" type="number" placeholder="Вес (кг)">
  <input id="h" type="number" placeholder="Рост (см)">
  <input id="a" type="number" placeholder="Возраст">
  <button class="btn" onclick="calc()">Рассчитать</button>
  <div class="result" id="res"></div>
</div>
